<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CalenderMapper">
    <resultMap id="combinedResultMap" type="java.util.HashMap">
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="checkDate" column="CHECK_DATE"/>
    </resultMap>

	    <select id="getCalenderList" resultMap="combinedResultMap">
        SELECT S.TITLE, S.CONTENT, S.CHECK_DATE
        FROM SCHEDULE S
        WHERE S.CODE = #{code}
        
        UNION ALL
        
        SELECT A.TITLE, A.CONTENT, A.CHECK_DATE
        FROM ANNIVERSARY A
        WHERE A.CODE = #{code}
        
        UNION ALL
        
        SELECT D.TITLE, D.CONTENT, D.CHECK_DATE
        FROM DIARY D
        WHERE D.CODE = #{code}
        
        UNION ALL
        
        SELECT T.TITLE, T.CONTENT, T.CHECK_DATE
        FROM TODO T
        WHERE T.CODE = #{code}
    </select>

</mapper>