<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CalenderMapper">
    <resultMap id="combinedResultMap" type="java.util.HashMap">
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="date" column="CHECK_DATE"/>
        <result property="code" column="CODE"/>
        <result property="category" column="CATEGORY"/>
    </resultMap>

	    <select id="getCalenderList" resultMap="combinedResultMap">
			<![CDATA[
		    SELECT S.TITLE, S.CONTENT, TO_CHAR(S.CHECK_DATE, 'YYYY-MM-DD') AS CHECK_DATE, S.CODE, S.CATEGORY
		    FROM SCHEDULE S
		    WHERE S.CODE = #{code}
		    
		    UNION ALL
		    
		    SELECT A.TITLE, A.CONTENT, TO_CHAR(A.CHECK_DATE, 'YYYY-MM-DD') AS CHECK_DATE, A.CODE, A.CATEGORY
		    FROM ANNIVERSARY A
		    WHERE A.CODE = #{code}
		    
		    UNION ALL
		    
		    SELECT D.TITLE, D.CONTENT, TO_CHAR(D.CHECK_DATE, 'YYYY-MM-DD') AS CHECK_DATE, D.CODE, D.CATEGORY
		    FROM DIARY D
		    WHERE D.CODE = #{code}
		    
		    UNION ALL
		    
		    SELECT T.TITLE, T.CONTENT, TO_CHAR(T.CHECK_DATE, 'YYYY-MM-DD') AS CHECK_DATE, T.CODE, T.CATEGORY
		    FROM TODO T
		    WHERE T.CODE = #{code}
		    ]]>
    </select>

</mapper>