<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemoMapper">

	<insert id="MemoInsert" >
		INSERT INTO MEMO
			(
			NO
			,WRITER_NO
			,TITLE
			,CONTENT
			,CODE
			,CHECK_DATE
			)
		VALUES
			(
			SEQ_MEMO_NO.NEXTVAL
			,#{writerNo}
			,#{title} 
			,#{content}
			,#{code}
			,#{checkDate}
			)
	</insert>
	
	<select id="MemoListByWriter" resultType="com.kh.love.memo.vo.MemoVo">
	        SELECT 
            M.NO, 
            M.WRITER_NO, 
            M.TITLE, 
            M.CONTENT, 
            M.ENROLL_DATE, 
            M.MODIFY_DATE, 
            M.DEL_YN, 
            M.CHECK_DATE, 
            M.CODE,
            MEM.NAME AS WRITER_NAME
        FROM 
            MEMO M
        JOIN 
            MEMBER MEM ON m.WRITER_NO = mem.NO
        WHERE 
            M.WRITER_NO = #{writerNo}
        ORDER BY 
            M.ENROLL_DATE DESC
	</select>
	
</mapper>